.contDetail {
  align-items: center;
}

.detailcard {
  margin-left: 20%;
  text-align: center;
  margin-top: 25px;
}

.card1 {
  border: 1px solid;
  max-width: 55%;
}

.card1 img {
  max-width: 320px;
}

.card-titleG {
  margin-top: 1rem;
  color: rgb(255, 174, 23);
}
.card-titleB {
  margin-top: 1rem;
  color: rgb(214, 18, 57);
}
