.contDetail {
  align-items: center;
}

.detailcard {
  margin-left: 20%;
  text-align: center;
  margin-top: 25px;
}

.card1 {
  border: 1px solid;
  max-width: 55%;
  overflow: auto;
}

.card1 img {
  max-width: 320px;
}

.card-titleG {
  margin-top: 1rem;
  color: rgb(255, 174, 23);
}
.card-titleB {
  margin-top: 1rem;
  color: rgb(214, 18, 57);
}
@media only screen and (max-width: 1200px) {
  .card1 img {
    max-width: 250px;
  }
  .card1 {
    border: 1px solid;
    max-width: 55%;
  }
}
@media only screen and (max-width: 1000px) {
  .card1 img {
    max-width: 250px;
  }
  .card1 {
    border: 1px solid;
    max-width: 55%;
  }
  .card-titleG {
    font-size: medium;

    margin-top: 1rem;
    color: rgb(255, 174, 23);
  }
  .card-titleB {
    font-size: medium;
    margin-top: 1rem;
    color: rgb(214, 18, 57);
  }
}
@media only screen and (max-width: 800px) {
  .card1 img {
    max-width: 250px;
  }
  .card1 {
    border: 1px solid;
    max-width: 55%;
  }
}
